.wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    width: 200px;
    height: 50px;
    background-color: rgb(58, 119, 250);
    user-select: none;
    color: cornsilk;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
}

#check1:checked ~ .container {
    background-color: blueviolet;
}
#check2:checked ~ .container {
    background-color: blueviolet;
}
#check3:checked ~ .container {
    background-color: blueviolet;
}

#check1,
#check2,
#check3{
    display: none;
}

.menu-item {
    display: block;
    width:150px;
    height:0px;
    background-color:indianred;
    color:ivory;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    margin-top:3px;
    text-decoration: none;
    user-select: none;
    transition: 0.5s;
}

#check1:checked ~ .menu1 > .menu-item {
    display: block;
    height: 35px;
    line-height: 35px;
}

#check2:checked ~ .menu2 > .menu-item{
    display: block;
    height: 35px;
    line-height: 35px;
}

#check3:checked ~ .menu3 > .menu-item{
    display: block;
    height: 35px;
    line-height: 35px;
}